<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tajidriver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_taji_cabs_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_taji_cabs_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".DriverHome"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".configuration.StartApp"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.TajiMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_taji_cabs_foreground" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>